
<div class="table-container">
  <div class="table-row table-header">
    <div class="table-columns">
      <h4>Repo Id</h4>
    </div>
    <div class="table-columns">
      <h4>Name</h4>
    </div>
    <div class="table-columns">
      <h4>Description</h4>
    </div>
    <div class="table-columns">
      <h4># of stars</h4>
    </div>
  </div>
  <!--Iterating through the users array and populating the table -->
  {{#each repos as |repo|}}
<div class="table-row table-body">

  <div class="table-columns">
    <p>{{repo.id}}</p>
  </div>

  <div class="table-columns">
    <p>{{repo.name}}</p>
  </div>

  <div class="table-columns">
    <p>{{repo.description}}</p>
  </div>

  <div class="table-columns">
    <p>{{repo.stargazers_count}}</p>
  </div>

</div>
<br>

{{/each}}
</div>
