@import '~bootstrap/scss/bootstrap';

.container {
    display: table;
    height: 100px;
   width: 100%;
   table-layout: fixed;
    }

  .row  {
    display: table-row;
    }

  .columns {
    display: table-cell;
    padding: 25px;
    }
