$green: #84DCC6;
$lighter-green: #A5FFD6;
$peach: #FFA69E;
$light-peach: #FFEEED;
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Mukta', sans-serif;
}

#header {
  width: 100%;
  height: 50px;
  margin: auto;
  padding-top: 10px;
  background-color: $green;
  display: flex;
  justify-content: space-evenly;
}

#buttons-field {
  width: 100%;
  height: 100px;
  margin: auto;
  background-color: $lighter-green;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.button {
  height: 50%;
  background-color: transparent;
  border: solid 2px black;
  border-radius: 30px;
}

.button:hover {
  background-color: white;
}

.button:focus { outline: none; }

.table-container {
  margin: auto;
  display: table;
  height: 100px;
  width: 100%;
  table-layout: fixed;
}

.table-row  {
    display: table-row;
}

.table-columns {
    display: table-cell;
    padding: 25px;
    text-align: center;
}

.table-header {
  background-color: $peach;
}

.table-body {
  background-color: $light-peach;
}
